<% provide(:title, "Scans") %>

<h1>Scans</h1>

<div class="center jumbotron">
  <%= will_paginate %>

  <table>
    <thead>
      <tr>
        <th>Scan</th>
        <% @users.each do |user| %>
          <th> <%= user.name %> </th>
        <% end %>
      </tr>
    </thead>

    <tbody>

      <% @scans.each do |scan| %>
        <tr>
          <td><%= link_to "sub-#{scan.subject}_ses-#{scan.session}", 
                  scan %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <%= will_paginate %>
</div>
